<body>
<div *ngIf="program">
  <span><a class="secondaryText">Анализ корректности ООП #{{program.id}}</a> </span> {{program.name}}
</div>

<div *ngIf="analyzeResult" class="infoGroup">
    <div *ngFor="let message of analyzeResult.messages">

      <div *ngIf="message.type == 'ERROR'" class="error secondaryButton"><span class="secondaryText"></span> {{message.message}}</div>
      <div *ngIf="message.type == 'WARNING'" class="warning secondaryButton"><span class="secondaryText"></span> {{message.message}}</div>
      <div *ngIf="message.type == 'INFO'" class="info secondaryButton"><span class="secondaryText"></span> {{message.message}}</div>
    </div>
</div>

<div (click)="goBack()" class="primaryButton">Назад</div>
</body>
