<body>
<div *ngIf="program">
  <span>Образовательная программа №{{program.id}}</span> {{program.name}}
</div>

<div *ngIf="analyzeResult">
    <div *ngFor="let message of analyzeResult.messages">

      <div *ngIf="message.type == 'ERROR'" class="error infoPanel"><span class="secondaryText">{{message.type}}</span> {{message.message}}</div>
      <div *ngIf="message.type == 'WARNING'" class="warning infoPanel"><span class="secondaryText">{{message.type}}</span> {{message.message}}</div>
      <div *ngIf="message.type == 'INFO'" class="info infoPanel"><span class="secondaryText">{{message.type}}</span> {{message.message}}</div>
    </div>
</div>

<div (click)="goBack()" class="infoPanel">Назад</div>
</body>
