<body>
<div *ngIf="professionalStandard">

  <div  class="infoGroup">
    Профессиональный стандарт {{professionalStandard.id}}
  </div>
  <div  class="infoGroup">
    Название:
    {{professionalStandard.name}}
  </div>

  <p>
  <div *ngIf="allSkills"  class="infoGroup">
    Не хватает умений:
    <div *ngFor="let skill of allSkills" class="infoPanel">
      №{{skill.id}} {{skill.description}}
    </div>
  </div>

  <p>
  <div *ngIf="allKnowledge"  class="infoGroup">
    Не хватает знаний:
    <div *ngFor="let knowledge of allKnowledge" class="infoPanel">
      №{{knowledge.id}} {{knowledge.description}}
    </div>
  </div>

</div>
</body>
