<body>
<div *ngIf="course">

  <div class="infoGroup">
    <div class="secondaryText header">
      Курс #{{course.id}}. Создан: {{course.createdBy.firstName}} {{course.createdBy.secondName}}
    </div>

    <div class="grid-arguments">
      <div class="grid-item"> Название:</div>
      <div class="grid-item"><input type="text" [(ngModel)]="course.name"></div>
      <div class="grid-item"> Количество часов:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="course.amount"></div>
      <div class="grid-item"> Семестр:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="course.semester"></div>
    </div>

    <div *ngIf="attestationForms">
      Форма аттестации:
      <select [(ngModel)]="course.attestationForm">
        <option *ngFor="let form of attestationForms" [ngValue]="form">{{form}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="allSkills" class="infoGroup">
    <a class="secondaryText header"> Развиваемые умения: </a>

    <div *ngFor="let skill of getDevelopsSkills()" class="grid-options-with-delete">
      <div class="infoPanel">
        <a class="secondaryText">#{{skill.id}}</a> {{skill.description}}
      </div>

      <div (click)="removeSkill(skill)" class="deletePanel">Удалить</div>
    </div>

    <div class="infoPanel" (click)="openModal('modal-select-skill')">Добавить</div>
  </div>


  <div *ngIf="allKnowledge" class="infoGroup">
    <a class="secondaryText header"> Развиваемые знания: </a>
    <div *ngFor="let knowledge of getDevelopsKnowledge()" class="grid-options-with-delete">
      <div class="infoPanel">
        <a class="secondaryText"> #{{knowledge.id}} </a> {{knowledge.description}}
      </div>

      <div (click)="removeKnowledge(knowledge)" class="deletePanel">Удалить</div>
    </div>

    <div class="infoPanel" (click)="openModal('modal-select-knowledge')">Добавить</div>
  </div>


  <div *ngIf="allCourses" class="infoGroup">
    <a class="secondaryText header"> Курсы, которые необходимо освоить до данного: </a>
    <div *ngFor="let course of getPreviousCources()" class="grid-options-with-delete">
      <div class="infoPanel">
        <a class="secondaryText"> #{{course.id}}</a> {{course.name}}
      </div>
      <div (click)="removeCourse(course)" class="deletePanel">Удалить</div>
    </div>

    <div class="infoPanel" (click)="openModal('modal-select-course')">Добавить</div>
  </div>


  <div *ngIf="allCourses" class="infoGroup">
    <a class="secondaryText header"> Курсы, для освоения которых необходим данный: </a>
    <div *ngFor="let course of getNextCources()">
      <a class="secondaryText"> #{{course.id}}</a> {{course.name}}
    </div>
  </div>

  <div class="buttonPanel">
    <span (click)="save()" class="infoPanel">Сохранить изменения</span>
    <span (click)="cancel()" class="infoPanel">Отмена</span>
    <span (click)="delete()" class="deletePanel">Удалить курс</span>
  </div>

</div>
</body>


<modal id="modal-select-skill">
  <div class="modal">
    <div class="modal-body">
      <div class="variant-selection">
        <a class="secondaryText header"> Добавить развиваемые умения: </a>

        <div *ngFor="let skill of getPossibleSkills()" class="grid-options">
          <div class="infoPanel" (click)="addSkill(skill)">
            <a class="secondaryText">#{{skill.id}}</a> {{skill.description}}
          </div>
        </div>

        <p></p>

        <div class="infoPanel" (click)="closeModal('modal-select-skill');">Закрыть окно</div>
      </div>
    </div>
  </div>
</modal>

<modal id="modal-select-knowledge">
  <div class="modal">
    <div class="modal-body">
      <div class="variant-selection">
      <a class="secondaryText header"> Добавить развиваемые навыки: </a>

      <div *ngFor="let knowledge of getPossibleKnowledge()" class="grid-options">
        <div class="infoPanel" (click)="addKnowledge(knowledge)">
          <a class="secondaryText">#{{knowledge.id}}</a> {{knowledge.description}}
        </div>
      </div>

      <p></p>

      <div class="infoPanel" (click)="closeModal('modal-select-knowledge');">Закрыть окно</div>
      </div>
    </div>
  </div>
</modal>

<modal id="modal-select-course">
  <div class="modal">
    <div class="modal-body">
      <div class="variant-selection">
        <a class="secondaryText header"> Добавить курс, который необходимо освоить до данного: </a>

        <div *ngFor="let course of getPossibleCources()" class="grid-options">
          <div class="infoPanel" (click)="addCourse(course)">
            <a class="secondaryText">#{{course.id}}</a> {{course.name}}
          </div>
        </div>

        <p></p>

        <div class="infoPanel" (click)="closeModal('modal-select-course');">Закрыть окно</div>
      </div>
    </div>
  </div>
</modal>
