<body>
<div *ngIf="user">

  <span class="secondaryText">Пользователь #{{user.id}}</span> {{user.login}}

  <div class="grid-arguments">
    <div class="grid-item">Имя:</div>
    <div class="grid-item"><input type="text" [(ngModel)]="user.firstName"></div>
    <div class="grid-item">Фамилия:</div>
    <div class="grid-item"><input type="text" [(ngModel)]="user.secondName"></div>
    <div *ngIf="roles" class="grid-item">Роль:</div>
    <div *ngIf="roles" class="grid-item"><select [(ngModel)]="user.role">
      <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
    </select></div>
    <div *ngIf="faculties" class="grid-item">Факультет:</div>
    <div *ngIf="faculties" class="grid-item">
      <select [(ngModel)]="user.faculty" (change)="onFacultyChanged()" [disabled]="noFaculty">
        <option *ngFor="let faculty of faculties" [ngValue]="faculty">{{faculty.name}}</option>
      </select>

      <input type="checkbox" [checked]="!user.faculty" (change)="facultyStateChanged()" [(ngModel)]="noFaculty">
      Не привязан к факультету
    </div>

    <div *ngIf="user.faculty && departments" class="grid-item">Кафедра:</div>
    <div *ngIf="user.faculty && departments" class="grid-item"><select [(ngModel)]="user.department"
                                                                       [disabled]="noDepartment">
      <option *ngFor="let department of departments" [ngValue]="department">{{department.name}}</option>
    </select>

      <input type="checkbox" [checked]="!user.department" (change)="departmentStateChanged()"
             [(ngModel)]="noDepartment">
      Не привязан к кафедре
    </div>
  </div>

  <div class="buttonPanel">
    <span (click)="save()" class="infoPanel">Сохранить изменения</span>
    <span (click)="cancel()" class="infoPanel">Отмена</span>
    <span (click)="delete()" class="deletePanel">Удалить пользователя</span>
  </div>
</div>
</body>
