<body>
<div *ngIf="program">

  <span class="program">Программа #{{program.id}}</span>

  <div class="grid-arguments">
    <div class="grid-item">Название:</div>
    <div class="grid-item"><input type="text" [(ngModel)]="program.name"></div>
    <div class="grid-item">Используемый ФГОС:</div>
    <div class="grid-item">
    <select [(ngModel)]="program.fgos" (change)="onFgosChanged()" [disabled]="allFgoses == null">
      <option *ngFor="let fgos of allFgoses" [ngValue]="fgos">{{fgos.name}}</option>
    </select>
    </div>
  </div>

  <div class="buttonPanel">
    <span (click)="save()" class="infoPanel">Сохранить изменения</span>
    <span (click)="cancel()" class="infoPanel">Отмена</span>
    <span (click)="delete()" class="deletePanel">Удалить программу</span>
  </div>
</div>
</body>
