<button (click)="createProgram()">Создать</button>

<div *ngIf="programs">
  <span *ngFor="let program of programs">
    <span>Образовательная программа №{{program.id}}</span> {{program.name}}
    <button (click)="createCourse(program)">Добавить курс</button>
    <button (click)="deleteProgram(program)">Удалить программу</button>
    <button (click)="gotoSearch(program)">Поиск по траекториям</button>
    <button (click)="analyze(program)">Анализ корректности</button>

    <div *ngIf="courses.get(program)">
      <li *ngFor="let course of courses.get(program)">
        <span (click)="courseClicked(course)"> Курс №{{course.id}}</span> {{course.name}}
      </li>
    </div>
  </span>
</div>



