<span (click)="createProgram()" class="infoPanel simpleButton">Добавить образовательную программу</span>

<div *ngIf="programs">
  <span *ngFor="let program of programs">
    <div class="infoGroup">
      <a class="secondaryText">Образовательная программа #{{program.id}} </a> {{program.name}}

      <div class="buttonPanel">
        <span (click)="createCourse(program)" class="infoPanel">Добавить курс</span>
        <span (click)="deleteProgram(program)" class="infoPanel">Удалить программу</span>
        <span (click)="gotoSearch(program)" class="infoPanel">Поиск по траекториям</span>
        <span (click)="analyze(program)" class="infoPanel">Анализ корректности</span>
      </div>

      <div *ngIf="courses.get(program)">
        <div *ngFor="let course of courses.get(program)">
          <div (click)="courseClicked(course)" class="infoPanel">
            <a class="secondaryText"> #{{course.id}} </a>
            {{course.name}}
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
