<body>
<div *ngIf="!isLogged()">

  <div>
    <h2>Авторизация</h2>
    <input [(ngModel)]="authData.login" placeholder="Логин">
    <input [(ngModel)]="authData.password" type="password" placeholder="Пароль">
    <span (click)="signIn()" class="infoPanel">Вход</span>
  </div>

  <div>
    <h2>Регистрация</h2>
    <input [(ngModel)]="registerData.firstName" placeholder="Имя">
    <input [(ngModel)]="registerData.secondName" placeholder="Фамилия">
    <input [(ngModel)]="registerData.authData.login" placeholder="Логин">
    <input [(ngModel)]="registerData.authData.password" type="password" placeholder="Пароль">
    <span (click)="signUp()" class="infoPanel">Регистрация</span>
  </div>

</div>

<div *ngIf="user">
  Добро пожаловать, {{user.secondName}} {{user.firstName}}!
  <a class="secondaryText">({{user.login}})</a>
  <span (click)="signOut()" class="deletePanel">Выход</span>
</div>
</body>
