<div class="authBlock register" *ngIf="!isLogged()">
  <div class="grid-lines">
    <div class="grid-item"><input [(ngModel)]="registerData.firstName" class="textField"  placeholder="Имя"></div>
    <div class="grid-item"><input [(ngModel)]="registerData.secondName" class="textField"  placeholder="Фамилия"></div>
    <div class="grid-item"><input [(ngModel)]="registerData.authData.login" class="textField"  placeholder="Логин"></div>
    <div class="grid-item"><input [(ngModel)]="registerData.authData.password" class="textField"  type="password" placeholder="Пароль"></div>
    <div class="grid-item"><div (click)="signUp()" class="primaryButton">Регистрация</div></div>
  </div>
</div>


<div class="authBlock" *ngIf="!isLogged()">
  <div class="grid-lines">
    <div class="grid-item"><input class="textField" [(ngModel)]="authData.login" placeholder="Логин"></div>
    <div class="grid-item"><input class="textField" [(ngModel)]="authData.password" type="password" placeholder="Пароль"></div>
    <div class="grid-item"><div class="primaryButton" (click)="signIn()">Вход</div></div>
  </div>
</div>

<div *ngIf="user" class="authBlock">
  <div class="username">
    <a class="secondaryText">Добро пожаловать,</a>
    {{user.secondName}} {{user.firstName}}!
    <a class="secondaryText">({{user.login}})</a>
  <div>
  <div (click)="signOut()" class="primaryButton">Выход</div>
</div>
