<div *ngIf="programs && userService_.getPermissions() && userService_.getPermissions().canReadProgramList">
  <span *ngFor="let program of programs">
    <div class="infoGroup">
      <a class="secondaryText">Образовательная программа #{{program.id}} </a> {{program.name}}
      <span *ngIf="program.canUpdate==false" class="secondaryText">(Только чтение)</span>

      <div *ngIf="program.fgos"><a class="secondaryText">Разрабатывается в соответствии с ФГОС:</a>  {{program.fgos.code}} "{{program.fgos.name}}"</div>
      <div *ngIf="!program.fgos" class="secondaryText">Разрабатывается без ФГОС.</div>

      <div>
        <a class="secondaryText">Факультет:</a> {{program.faculty.name}}
      </div>
      <div>
        <a class="secondaryText">Создан:</a> {{program.createdBy.secondName}} {{program.createdBy.firstName}}
      </div>

      <div class="spoiler">
      <a class="secondaryText">Отобразить подробную информацию.</a><input type="checkbox">
      <div class="box">

      <div class="leftButtonPanel">
        <span class="primaryButton" (click)="createCourse(program)" *ngIf="program.canUpdate==true">Добавить обязательную дисциплину</span>
        <span class="primaryButton" (click)="createTemplateCourse(program)" *ngIf="program.canUpdate==true">Добавить блок вариативных дисциплин</span>
        <span class="primaryButton" (click)="gotoSearch(program)">Поиск по траекториям</span>
        <span class="primaryButton" (click)="analyze(program)">Анализ корректности</span>
        <span class="primaryButton" (click)="edit(program)"
              *ngIf="program.canDelete==true">Редактировать программу</span>
        <span class="deleteButton" (click)="deleteProgram(program)"
              *ngIf="program.canUpdate==true">Удалить программу</span>
      </div>

      <div *ngIf="courses.get(program) == null || courses.get(program).length == 0" class="secondaryText templateBlock">
        Данная программа не содержит ни одной дисциплины!
      </div>
      <div *ngIf="courses.get(program) != null && courses.get(program).length > 0">

        <div class="templateBlock">
          Базовые дисциплины
        </div>

        <div *ngIf="courses.get(program)">
          <div *ngFor="let course of courses.get(program)">
            <div (click)="courseClicked(course)" class="secondaryButton" *ngIf="course.implementsTemplate==false">
              <a class="secondaryText"> #{{course.id}} </a>
              {{course.name}} <span *ngIf="course.canUpdate==false" class="secondaryText">(Только чтение)</span>
               <span *ngIf="course.implementsTemplate" class="secondaryText">(Generic)</span>
            </div>
          </div>
        </div>


        <div *ngIf="templateCourses.get(program)">
          <div class="templateBlock">
            Блоки вариативных дисциплин
          </div>

          <div *ngFor="let block of templateCourses.get(program)" class="templateBlock">
            <div class="secondaryText">
              Блок #{{block.id}}. Семестр: {{block.semester}}. Длительность: {{block.amount}} ч.
              <span *ngIf="block.canUpdate==false" class="secondaryText">(Только чтение)</span>
              <div class="buttonPanelLeft">
              <span (click)="createCourseByTemplate(program, block)" class="primaryButton"
                    *ngIf="program.canAddVariableCourse==true">Добавить вариативную дисциплину</span>
              <span (click)="editBlock(block)" class="primaryButton" *ngIf="program.canUpdate==true">Редактировать блок</span>
              </div>
            </div>

            <div *ngFor="let course of courses.get(program)">
            <div (click)="courseClicked(course)" class="secondaryButton"
                 *ngIf="course.implementsTemplate==true && course.templateCourse==block.id">
              <a class="secondaryText"> #{{course.id}} </a>
              {{course.name}} <span *ngIf="course.canUpdate==false" class="secondaryText">(Только чтение)</span>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </span>
</div>

<div class="buttonPanel">
  <span (click)="createProgram()" class="primaryButton"
        *ngIf="userService_.getPermissions() && userService_.getPermissions().canCreateProgram">Добавить образовательную программу</span>
</div>
