<div class="searchPanel">

  <div class="selected">
  <span *ngIf="getPositiveVariants().length > 0">
    <span *ngFor="let variant of getPositiveVariants()">
      <button class="positiveSelected infoPanel" (click)="removePositive(variant)">{{variant.text}}</button>
    </span>
  </span>

    <span *ngIf="getNegativeVariants().length > 0">
      <span *ngFor="let variant of getNegativeVariants()">
        <button class="negativeSelected infoPanel" (click)="removeNegative(variant)"><b>-</b>{{variant.text}}</button>
      </span>
  </span>
  </div>

  <input #searchLine class="inputField" [(ngModel)]="request" placeholder="Введите название курса или проф. стандарта"
         (input)="onSearchChange($event.target.value)" (click)="onClick()" (focusout)="onFocusOut($event)">

  <div class="variants">
    <div *ngIf="getVariants()">
      <div *ngFor="let variant of getVariants()" class="variant">
        <button class="value buttonStandart" (click)="showInfo(variant)">{{variant.text}}</button>
        <button class="option buttonStandart" (click)="addPositive(variant)">+</button>
        <button class="option buttonStandart" (click)="addNegative(variant)">-</button>
      </div>
    </div>
  </div>
</div>
