<body>
<div *ngIf="fgos">

  <div class="infoGroup">
    <span class="secondaryText">ФГОС #{{fgos.id}} Создан: {{fgos.createdBy.firstName}} {{fgos.createdBy.secondName}}</span>

    <div class="grid-arguments">
      <div class="grid-item">Код:</div>
      <div class="grid-item"><input type="text" [(ngModel)]="fgos.code" [disabled]="fgos.canUpdate == false"></div>
      <div class="grid-item">Название:</div>
      <div class="grid-item"><input type="text" [(ngModel)]="fgos.name" [disabled]="fgos.canUpdate == false"></div>
    </div>
  </div>

  <div class="infoGroup">
    <span class="secondaryText">Структура и объём программы</span>

    <div class="grid-arguments">
      <div class="grid-item">Структура</div>
      <div class="grid-item">Объём в з.е.</div>
      <div class="grid-item">Блок 1. Дисциплины:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="fgos.disciplineVolumeFrom" [disabled]="fgos.canUpdate == false"></div>
      <div class="grid-item">Блок 2. Практика:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="fgos.practiceVolumeFrom" [disabled]="fgos.canUpdate == false"></div>
      <div class="grid-item">Блок 3. Аттестация:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="fgos.attestationVolumeFrom" [disabled]="fgos.canUpdate == false"></div>
      <div class="grid-item">Объём программы</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="fgos.summaryVolume" [disabled]="fgos.canUpdate == false"></div>
    </div>
  </div>

  <div class="infoGroup">
    <span class="secondaryText">Компетенции</span>
    <div *ngFor="let competence of fgos.requireCompetence" class="infoPanel" (click)="editCompetence(competence)">
      <span class="secondaryText">#{{competence.id}}</span> {{competence.code}} "{{competence.description}}"
    </div>
    <div class="infoPanel" (click)="addCompetence()" *ngIf="fgos.canUpdate == true">Добавить компетенцию</div>
  </div>

  <div class="infoGroup">
    <span class="secondaryText">Обязательные курсы</span>
    <div *ngFor="let course of fgos.requireCourses" class="infoPanel" (click)="editRequiredCourse(course)">
      <span class="secondaryText">#{{course.id}}</span> {{course.name}}
    </div>
    <div class="infoPanel" (click)="addRequiredCourse()" *ngIf="fgos.canUpdate == true">Добавить курс</div>
  </div>

  <div class="infoGroup">
    <span class="secondaryText">Проф. стандарты</span>
    <div *ngFor="let profStandard of fgos.professionalStandards" class="grid-options-with-delete">
      <div class="infoPanel">
        <a class="secondaryText">#{{profStandard.id}}</a> {{profStandard.name}}
      </div>

      <div (click)="removeProfStandard(profStandard)" class="deletePanel" *ngIf="fgos.canUpdate == true">Удалить</div>
    </div>

    <div class="infoPanel" (click)="openModal('modal-select-prof-standard')" *ngIf="fgos.canUpdate == true">Добавить проф. стандарт</div>
  </div>

  <div class="buttonPanel">
    <span (click)="save()" class="infoPanel">Сохранить изменения</span>
    <span (click)="cancel()" class="infoPanel">Отмена</span>
    <span (click)="delete()" class="deletePanel" *ngIf="fgos.canDelete == true">Удалить ФГОС</span>
  </div>
</div>
</body>

<modal id="modal-select-prof-standard">
  <div class="modal">
    <div class="modal-body">
      <div class="variant-selection">
        <a class="secondaryText header"> Добавить ФГОС: </a>

        <div *ngFor="let standard of getPossibleProfStandards()" class="grid-options">
          <div class="infoPanel" (click)="addStandard(standard)">
            <a class="secondaryText">#{{standard.id}}</a> {{standard.code}} "{{standard.name}}"
          </div>
        </div>

        <p></p>

        <div class="infoPanel" (click)="closeModal('modal-select-prof-standard');">Закрыть окно</div>
      </div>
    </div>
  </div>
</modal>

