<body>
<div *ngIf="block">

  <div class="infoGroup">
    <div class="secondaryText header">
      Блок #{{block.id}}.
      <span *ngIf="block.canEdit==false" class="secondaryText">(Только чтение)</span>
    </div>

    <div class="grid-arguments">
      <div class="grid-item"> Количество часов:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="block.amount" [disabled]="block.canEdit==false"></div>
      <div class="grid-item"> Семестр:</div>
      <div class="grid-item"><input type="number" step="1" [(ngModel)]="block.semester" [disabled]="block.canEdit==false"></div>
    </div>

    <div *ngIf="attestationForms">
      Форма аттестации:
      <select [(ngModel)]="block.attestationForm">
        <option *ngFor="let form of attestationForms" [ngValue]="form">{{form}}</option>
      </select>
    </div>
  </div>

  <div class="buttonPanel">
    <span (click)="save()" class="infoPanel" *ngIf="block.canEdit==true">Сохранить изменения</span>
    <span (click)="cancel()" class="infoPanel">Отмена</span>
    <span (click)="delete()" class="deletePanel" *ngIf="block.canEdit==true">Удалить блок</span>
  </div>

</div>
</body>
