.header {
  color: #2572ed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  text-align: center;
}

.block{
  width: calc(90% - 150pt);
  box-shadow: 0pt 2pt 5pt 0pt hsla(0, 0%, 0%, 0.2);
  margin-left: 170pt;
  margin-top: 10pt;
  padding: 5pt;
  padding-right: 10pt;
  background: white;
  border-radius: 3px;
}

.mainBody{
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.secondaryText {
  color: #999999;
}

.infoPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  border-left: 6px solid darkcyan;
  color: black;
}

.infoPanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-left: 6px solid darkgrey;
  border-radius: 3px;
  color: #444444;
}

.trajectoryPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  color: black;
}

.trajectoryPanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-radius: 3px;
  color: #444444;
}

.searchPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  color: black;
}

.searchPanel {
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-radius: 3px;
  color: #444444;
  box-shadow: 1pt 1pt #b8b8b8;
  width: 60%;
  margin-left: 20%;
  background-color: #efefef;
  display: block;
  position: relative;
}

.buttonStandart:hover{
  background: rgba(192, 255, 226, 0.82);
  //ox-shadow: 0pt 2pt 5pt 0pt rgba(10, 96, 83, 0.27);
  color: black;
}

.buttonStandart {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  background: rgb(236, 236, 236);
  //margin-top: 3pt;
  //margin-bottom: 3pt;
  padding: 1pt;
  border-radius: 3px;
  color: #444444;
}

.course{
  border-radius: 3px;
}

.course:hover {
  background-color: #98d1ff;
}

.deletePanel:hover{
  background: #ff000044;
  box-shadow: 0pt 2pt 5pt 0pt #99000044;
  border-right: 6px solid darkred;
  color: black;
}

.deletePanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-right: 6px solid darkgrey;
  border-radius: 3px;
  color: #444444;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  background: #00000066;
  position: absolute;
  margin: auto;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-body {
  position: absolute;

  box-shadow: 0pt 3pt 6pt 0pt hsla(0, 0%, 0%, 0.4);
  padding: 3pt;
  border-top: 6px solid darkorange;
  border-radius: 3px;
  background: white;
  color: #444444;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-arguments {
  display: grid;
  grid-template-columns: 200px auto;
}

.grid-options-with-delete {
  display: grid;
  grid-template-columns: auto 90px;
  grid-row-gap: 10pt;
  column-gap: 10pt;
}

.grid-options {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {
  padding: .2em;
}


/* Primary button -  типичная кнопка */
.primaryButton:hover{
  background-color: #6a9ced;
  border-left: 2pt solid #4286f4;
}

.primaryButton:active{
  background-color: #2572ed;
  border-left: 2pt solid #0952c6;
}

.primaryButton {
  width: 100%;
  padding: 2pt 3pt 2pt 2pt;
  border-radius: 2pt;
  margin-top: 3pt;
  font-size: 12pt;

  color: white;
  background-color: #4286f4;
  box-shadow: 0 1.5pt 1pt #0952c666;
  border-left: 2pt solid #2572ed;

  text-align: center;
}

/* Secondary button -  не такая важная кнопка */
.secondaryButton:hover{
  background-color: #6a9ced05;
  border-left: 2pt solid #4286f4;
}

.secondaryButton:active{
  background-color: #2572ed22;
  border-left: 2pt solid #0952c6;
}

.secondaryButton {
  width: 100%;
  padding: 2pt 3pt 2pt 2pt;
  border-radius: 2pt;
  margin-top: 3pt;
  font-size: 12pt;

  background-color: #4286f411;
  box-shadow: 0 1.5pt 1pt #0952c666;
  border-left: 2pt solid #2572ed;

  text-align: center;
}


/* Delete button -  кнопка удаления */
.deleteButton:hover{
  background-color: #ed8863;
  border-left: 2pt solid #f47142;
}

.deleteButton:active{
  background-color: #e2531f;
  border-left: 2pt solid #7c2506;
}

.deleteButton {
  width: 100%;
  padding: 2pt 3pt 2pt 2pt;
  border-radius: 2pt;
  margin-top: 3pt;
  font-size: 12pt;

  color: white;
  background-color: #f47142;
  box-shadow: 0 1.5pt 1pt #7c250666;
  border-left: 2pt solid #e2531f;

  text-align: center;
}

/* Однострочное текстовое поле */

.textField:focus{
  border-left: 2pt solid #6a9ced;
}

.textField{
  width: 100%;
  padding: 2pt;
  font-size: 12pt;

  border-style: none;
  box-shadow: 0 1pt 1pt #0952c622;
  border-left: 2pt solid #2572ed;
}

.infoGroup {
  border-bottom: 1px solid gray;
  padding-bottom: 10pt;
  margin-bottom: 10pt;
}

.buttonPanel{
  text-align: center;
  margin-top: 4pt;
  margin-bottom: 4pt;
}

.buttonPanelLeft{
  text-align: left;
  margin-top: 4pt;
  margin-bottom: 4pt;
}

/*Спойлеры для сокрытия информации, если таковой млишком много */
.spoiler > input+.box{
  display: none;
}
.spoiler > input:checked +.box{
  display: block;
}

.box{
  padding-top: 5pt;
}
