h1 {
  color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.block{
  width: 90%;
  box-shadow: 0pt 2pt 5pt 0pt hsla(0, 0%, 0%, 0.2);
  margin-left: 5%;
  margin-top: 10pt;
  padding: 5pt;
  background: white;
  border-radius: 3px;
}

.mainBody{
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.secondaryText {
  color: #999999;
}

.infoPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  border-left: 6px solid darkcyan;
  color: black;
}

.infoPanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-left: 6px solid darkgrey;
  border-radius: 3px;
  color: #444444;
}

.trajectoryPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  color: black;
}

.trajectoryPanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-radius: 3px;
  color: #444444;
}

.searchPanel:hover{
  background: #008B8B11;
  box-shadow: 0pt 2pt 5pt 0pt #008B8B44;
  color: black;
}

.searchPanel {
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-radius: 3px;
  color: #444444;
  box-shadow: 1pt 1pt #b8b8b8;
  width: 60%;
  margin-left: 20%;
  background-color: #efefef;
  display: block;
  position: relative;
}

.buttonStandart:hover{
  background: rgba(192, 255, 226, 0.82);
  //ox-shadow: 0pt 2pt 5pt 0pt rgba(10, 96, 83, 0.27);
  color: black;
}

.buttonStandart {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  background: rgb(236, 236, 236);
  //margin-top: 3pt;
  //margin-bottom: 3pt;
  padding: 1pt;
  border-radius: 3px;
  color: #444444;
}

.course{
  border-radius: 3px;
}

.course:hover {
  background-color: #98d1ff;
}

.deletePanel:hover{
  background: #ff000044;
  box-shadow: 0pt 2pt 5pt 0pt #99000044;
  border-right: 6px solid darkred;
  color: black;
}

.deletePanel {
  box-shadow: 0pt 1pt 1pt 0pt hsla(0, 0%, 0%, 0.05);
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding: 3pt;
  border-right: 6px solid darkgrey;
  border-radius: 3px;
  color: #444444;
}

.infoGroup {
  box-shadow: 0pt 2pt 5pt 0pt hsla(0, 0%, 0%, 0.2);
  margin-top: 6pt;
  padding: 5pt;
  border-top: 3px solid darkcyan;
  border-radius: 3px;
}

.buttonPanel{
  margin-top: 6pt;
  margin-bottom: 6pt;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  background: #00000066;
  position: absolute;
  margin: auto;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-body {
  position: absolute;

  box-shadow: 0pt 3pt 6pt 0pt hsla(0, 0%, 0%, 0.4);
  padding: 3pt;
  border-top: 6px solid darkorange;
  border-radius: 3px;
  background: white;
  color: #444444;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-arguments {
  display: grid;
  grid-template-columns: 200px auto;
}

.grid-options-with-delete {
  display: grid;
  grid-template-columns: auto 90px;
}

.grid-options {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {
  padding: .2em;
}
